<section id="input">
    <form class="form" autocomplete="off" method="GET" action="/arts">

        <div class="form-elements">

            <label for="department">Category: </label>
            <select name="department" id="department">
                <% for (let i = 0; i < categories.length; i++) { %>
                <option value="<%= categories[i].departmentId %>" <%= (i===0)? "selected" : "" %> >
                    <%= categories[i].displayName %>
                </option>
                <% } %>
            </select>

            <label for="search">Search: </label>
            <input id="search" name="search" 
                placeholder="Any"
                value=""
            />

            <button type="submit" class="btn btn-dark">
                Show
            </button>
        </div>
    </form>

    <div class="info-btn">
        <input type="checkbox" class="btn-check" id="btn-check-2-outlined" unchecked autocomplete="off">
        <label class="btn btn-outline-secondary" for="btn-check-2-outlined">i</label>
    </div>
</section>


<% if (locals.imageSrc && locals.frame) { %>
<script>
    //get past values
    let dropdown = document.getElementById("department");
    const selectedCategory = localStorage.getItem("selectedCategory");
    console.log("selectedCategory="+ selectedCategory);
    dropdown.selectedIndex = [...dropdown.options].findIndex(x => x.text===selectedCategory);
    console.log("dropdown.value="+ dropdown.value);

    const input = document.getElementById("search");
    const previousSearch = localStorage.getItem("previousSearch");
    input.value = previousSearch;
</script>
<% } else { %>
<script>
    //reset
    const dropdown = document.getElementById("department");
    // console.log(dropdown.options[0].text);
    localStorage.setItem("selectedCategory", dropdown.options[0].text);
    localStorage.setItem("previousSearch", "");
</script>
<% } %>

<script>
    dropdown.addEventListener('change', function (event) {
        const selectedIndex = event.target.selectedIndex;
        localStorage.setItem("selectedCategory", this.options[selectedIndex].text);
    });

    const btnClick = document.querySelector("#input .form .btn");
    btnClick.addEventListener('click', function (event) {
        const input = document.getElementById("search");
        const search = input.value;
        console.log(search);
        localStorage.setItem("previousSearch", search);
    })

</script>