<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-+-:Arts:-+-</title>
    <link rel="icon" href="images/icon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    
<section id="main">

    <%- include("partials/input.ejs") %>
    <%- include("partials/display.ejs") %>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>



<script>
    const infoCheckbox = document.querySelector(".info-btn .btn-check");
    infoCheckbox.addEventListener('change', function() {
        const displayArea = document.querySelector("#display .display-area");
        const infoDetails = document.querySelector("#display .info-details");

        if (this.checked) {
            if (displayArea !== null) {
                displayArea.classList.remove("visible")
                displayArea.classList.add("hidden");
            }
            infoDetails.classList.remove("hidden")
            infoDetails.classList.add("visible");
        } else {
            infoDetails.classList.remove("visible")
            infoDetails.classList.add("hidden");
            if (displayArea !== null) {
                displayArea.classList.remove("hidden")
                displayArea.classList.add("visible");
            }
        }
    });
</script>
</body>
</html>