<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindArts</title>
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    
<section id="main">
    <% if (locals.categories) { %>
        <%- include("partials/input.ejs") %>
    <% } else if (locals.imageSrc) { %>
        <%- include("partials/display.ejs") %>
    <% } else { %>
        <div>Something has gone wrong.</div>
    <% } %>
</section>

</body>
</html>